<chapter id="requirements" xreflabel="Requirements">
<title>Requirements</title>

<para>
The MEME roll is for use with Rocks &document-version;.
</para>

<para>
You must install the following rolls before installing the MEME roll:
</para>

<itemizedlist>
<listitem><para>
Perl roll (provides perl 5.14)
</para></listitem>
<listitem><para>
Opal roll (is required only for web submission).
</para></listitem>
</itemizedlist>

<para>
This roll provides:
</para>

<itemizedlist>
<listitem><para> meme @MEMEVER@ </para></listitem>
<listitem><para> perl(SOAP::WSDL) </para></listitem>
<listitem><para> perl(Class::Std) </para></listitem>
<listitem><para> perl(Class::Std::Fast) </para></listitem>
<listitem><para> perl(Class::Std::Fast::Storable) </para></listitem>
<listitem><para> perl(Date) </para></listitem>
<listitem><para> perl(Time::Zone) </para></listitem>
<listitem><para> perl(HTML::Template) </para></listitem>
<listitem><para> gomo databases </para></listitem>
<listitem><para> motif databases </para></listitem>
<listitem><para> opal services deployment scripts </para></listitem>
<listitem><para> cron job (clean jobs directories) </para></listitem>
<listitem><para> cron job (update fasta databases) </para></listitem>
</itemizedlist>

</chapter>
